* {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
body {
    background-image:url(/Aufloesung1920x1080/Interface/TempImages/Gras.gif);
    background-repeat: repeat;
}
#bg {
    min-height:500px;
    min-width:500px;
}
.left {
    left:0px;
}
.right {
    right:0px;
}
.top {
    top:0px;
}
.bot {
    bottom:0px;
}
.center_h {
    margin-left: auto;
    margin-right: auto;
}
div {
    position:absolute;
}
.inherit {
    position:inherit;
}
.relative {
    position:relative;
}
.corner {
    width:80px;
    height:80px;
}
.slider_inv {
    width:58px;
    height:28px;
    left:11px;
}
.left_slider {
    top:11px;
    width:28px;
    height:58px;
    float:right;
}
.right_slider {
    top:11px;
    width:28px;
    height:58px;
    float:left;
}
.inventory {
    width:80px;
    height:auto;
    top:86px;
    bottom:86px;
}
.inv_edge {
    width:80px;
    height:19px;
}
.inv_top {
    /*    background-image:url(Inventory_Abschluss_Oben.gif);
    background-size:cover;*/
}
.inventory_content {
    width:80px;
    height:auto;
    top:19px;
    bottom:19px;
    /*    background-image:url(Inventory_Vertikal.png);
    background-size: cover;
    background-repeat:repeat-y;*/
}
.inv_bot {
    /*    background-image:url(Inventory_Abschluss_Unten.gif);
    background-size:cover;*/
}
.matter_edge {
    width:19px;
    height:80px;
}
#matter_left {
    /*    position:relative;
    background-image:url(InventoryAbschluss.png);
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    transform:rotate(90deg);*/
}
#matter_content {
    width:auto;
    height:80px;
    left:19px;
    right:19px;
    /*    background-image:url(Inventory_Horizontal.png);*/
    /*    background-size:cover;
    background-repeat:repeat-x;*/
}
#matter_right {
    /*    background-image:url(Inventory_Abschluss_Rechts.gif);
    background-size:cover;*/
}
.kimage {
    position:absolute;
    width:136px;
    height:80px;
}
img.i1 {
    left: -68px;
}
img.i2 {
    left: +74px;
}
img.i3 {
    left: +216px;
}
img.i4 {
    left: +358px;
}
img.i5 {
    left: +500px;
}
img.i6 {
    left: +642px;
}
img.i7 {
    left: +784px;
}
#k {
    left:50%;
    height:80px;
    margin-left:-426px;
}
#MenuFrame {
    z-index:2;
    left:50%;
    margin-left:660px;
    height:152px;
    width:276px;
    background-image: url(/Aufloesung1920x1080/Interface/MenuFrame8.png);
}
#links {
    float:left;
    height:100%;
    width:80px;
}
#rechts {
    float:right;
    height:100%;
    width:80px;
}
#oben {
    left:86px;
    right:86px;
    height:80px;
    width:auto;
    overflow:hidden;
}
#mitte {
    overflow:hidden;
    top:86px;
    bottom:86px;
    left:86px;
    right:86px;
    height:auto;
    width:auto;
    min-height:200px;
    min-width:200px;
}
#unten {
    left:86px;
    right:86px;
    height:80px;
    width:auto;
}
#improvements {
    background-color:grey;
    width:auto;
    height:31px;
}
.areas {
    top:37px;
    width:48.8%;
    min-width:300px;
    overflow:hidden;
}
#seperation_bar {
    margin-left: auto;
    margin-right: auto;
    top:37px;
    width:20px;
    height:100%;
    background-image:url(/Aufloesung1920x1080/Interface/Trennbalken.png);
    background-size:cover;
}
#base_area {
    overflow:hidden;
    width:100%;
    top:40px;
    bottom:40px;
}
#scrounge_area {
    overflow:auto;
    top:114px;
    height:auto;
}
.slot {
    z-index:2;
    height:143px;
    background-image:url(/Aufloesung1920x1080/Interface/AktionsKastenGreenSlot.png);
}
.slot_a {
    z-index:1;
    height:0px;
    overflow:hidden;
    background-image:url(/Aufloesung1920x1080/Interface/AktionsKastenYellowSlot.png);
}
/*///////////////////////////////////////////////////////////////////////////   MINE BUY MENU   ///////////////////////////////////////////////////////////////////////////*/
 #mineBuyMenu {
    margin: 0px auto;
    top:162px;
    bottom:162px;
    width: 778px;
    z-index: 5;
    display: none;
}
#mineBuyMenuFrame {
    top: 0px;
    display: block;
    bottom: 15px;
    width: 778px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/BuyMenuBackground.png);
    background-repeat: no-repeat;
}
#mineBuyMenuBottomEnd {
    margin: 0px auto;
    bottom: 0px;
    width: 778px;
    height: 15px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/BuyMenuBackgroundBottomEnd.png);
    background-repeat: no-repeat;
}
#buyMenuYes {
    width: 100px;
    height: 40px;
    bottom: 10px;
    left:30%;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/YESButton.png);
    background-repeat: no-repeat;
}
#buyMenuNo {
    width: 100px;
    height: 40px;
    bottom: 10px;
    right:30%;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/NOButton.png);
    background-repeat: no-repeat;
}
#mineBuyMenuText {
    left:150px;
    top: 70px;
    font-family:"OCR A Std";
    font-size: 1.5em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
}
#mineBuyMenuMatterBlock {
    width: 85px;
    height: 85px;
    left: 33px;
    top: 29px;
    position: relative;
}
#rangeSlider {
    top: 20px;
    left: 144px;
    width: 622px;
    height: 27px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/RangeSlider.png);
}
.rangeSliderMarks {
    display: block;
    position: relative;
    float: left;
    height: 100%;
    width: 5%;
}
#noButton {
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/RangeSlider.png);
}
#yesButton {
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/RangeSlider.png);
}
.rangeSliderMarksStroke {
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 3px;
    height: 18px;
    margin: auto;
    background-color: black;
}
#AmountScroungerSlots {
    width: 92px;
    height: 134px;
    left: 33px;
    top: 160px;
}
.sslots_available {
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
    margin: 2px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/ScroungeSlotAvailable2.png);
}
.sslots_unavailable {
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
    margin: 2px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/ScroungeSlotUnavailable2.png);
}
/*///////////////////////////////////////////////////////////////////////////   Range Slider   ///////////////////////////////////////////////////////////////////////////*/
 section {
    width: 150px;
    height: auto;
    margin: 100px auto 0;
    position: relative;
}
#range_slider_wrapper {
    top:100px;
    width:150px;
    height:13px;
}
#range_slider {
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 150px;
    position: absolute;
    height: 13px;
    background-color: #8e8d8d;
    background: url(/images/bg-track.png) repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px rgba(250, 250, 250, .5);
}
.tooltip {
    position: absolute;
    display: block;
    margin-left:-18px;
    top: 75px;
    width: 40px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(69, 72, 77, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(top, rgba(69, 72, 77, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8045484d', endColorstr='#80000000', GradientType=0);
}
.ui-slider-handle {
    top:100px;
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(/images/handle.png) no-repeat 50% 50%;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -7px;
    margin-left: -12px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.ui-slider-range {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    background: linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}
/*///////////////////////////////////////////////////////////////////////////   MATTER COLOR BLOCKS   ///////////////////////////////////////////////////////////////////////////*/
 .matter_colorBlocks {
    float: left;
    position: relative;
    top: 50%;
    margin-top: -72px;
    width: 250px;
    height: 142px;
    margin-right: 10px;
}
.text_matter {
    display: inline;
    width: 200px;
    right: 10px;
    top: 20px;
    margin: 0px;
    color: black;
    font-family:"OCR A Std";
    font-size: 1.5em;
    text-align: right;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
}
.text_specialResources {
    display: inline;
    width: 100px;
    right: 5px;
    top: 12px;
    margin: 0px;
    color: black;
    font-family:"OCR A Std";
    font-size: 0.9em;
    text-align: right;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
}
.img_matter {
    position: relative;
    display: inline;
    left: 10px;
    top: 5px;
    width: 50px;
    height: 50px;
}
.img_specialResources {
    position: relative;
    display: inline;
    left: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
}
.wrapper_specialResource {
    bottom: 0px;
    width: 250px;
    height: 92px;
}
.sr_left {
    bottom: 0px;
    left: 5px;
    width: 120px;
    height: 92px;
}
.sr_right {
    bottom: 0px;
    right: 0px;
    width: 120px;
    height: 92px;
}
.sr_slot {
    float: left;
    position: relative;
    width: 120px;
    height: 30px;
}
/*///////////////////////////////////////////////////////////////////////////   CHARACTER VIEW   ///////////////////////////////////////////////////////////////////////////*/
 #characterView {
    top:162px;
    bottom:162px;
    left:162px;
    right:162px;
}
#scroungeItems {
    left: 0px;
    right: 50%;
    height: 100%;
    min-height: 400px;
    background-color: blue;
}
.scroungeItemSlots {
    width: 100px;
    height: 100px;
    background-color: black;
}
#scroungeItemSlot1 {
    margin: 0px auto;
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 26px;
}
#characterViewRightSide {
    right: 0px;
    left: 50%;
    height: 100%;
    min-height: 400px;
    background-color: brown;
}
#playerStats {
    top: 0px;
    width: 100%;
    height: 200px;
    background-color: green;
}
#baseItems {
    width: 100%;
    top: 200px;
    bottom: 0px;
    min-height: 200px;
    background-color: red;
}
/*///////////////////////////////////////////////////////////////////////////   SLOTS BASE LEFT   ///////////////////////////////////////////////////////////////////////////*/
 .unused_slot {
    height:143px;
}
.used_slot {
    z-index:2;
    height:143px;
}
.used_slot_advanced {
    z-index:1;
    height:0px;
    overflow:hidden;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsFirstScrounger.png);
    background-repeat: no-repeat;
}
.scrounger_slot {
    vertical-align: middle;
    height:103px;
}
.text {
    margin-top:5px;
    margin-bottom:5px;
    color: white;
    font-family:"OCR A Std";
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
}
.slot_icon {
    left:33px;
    top:29px;
    width:85px;
    height:85px;
}
.scrounger_icon {
    left:48px;
    top:44px;
    width:55px;
    height:55px;
}
.scrounger_stats_wrapper {
    display:table;
    left:151px;
    right:5px;
    height:143px;
}
.scrounger_stats {
    display:table-cell;
    vertical-align: middle;
}
.slot_upper_bar {
    top:13px;
    left:151px;
    right:5px;
    width:auto;
    height:27px;
}
.slot_stats {
    top:53px;
    left:151px;
    right:5px;
}
.slot_advanced_stats {
    margin-top:20px;
    margin-left:151px;
    margin-right:5px;
}
.slot_colors_slider {
    width:21px;
    height:27px;
}
.slot_colors_wrapper {
    overflow:hidden;
    left:21px;
    right:21px;
    width:auto;
    height:27px;
}
.slot_colors_edges {
    width:4px;
    height:27px;
    background-image: url(/Aufloesung1920x1080/Interface/AktionsKastenSortierBalken/AktionsBalkenSortingBarEdge.png);
}
.test_colors_pfeil_left {
    background-image: url(/Aufloesung1920x1080/Interface/AktionsKastenSortierBalken/AktionsKastenSortingBarPfeilNormal.png);
    background-repeat: no-repeat;
}
.test_colors_pfeil_right {
    background-image: url(/Aufloesung1920x1080/Interface/TempImages/TEST_AktionsKastenSortingBarPfeilNormal.png);
    background-repeat: no-repeat;
}
.slot_colors_content {
    left:4px;
    width:700px;
    height:27px;
    background-image: url(/Aufloesung1920x1080/Interface/AktionsKastenSortierBalken/AktionsBalkenSortingBar.png);
}
.color {
    float:left;
    width:16px;
    height:16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slot_items {
    top:53px;
    left:151px;
    right:5px;
    width:auto;
    height:90px;
}
.slot_items_slider {
    width:21px;
    height:60px;
}
.slot_items_wrapper {
    overflow:hidden;
    left:26px;
    right:26px;
    width:auto;
    height:90px;
}
.slot_items_content {
    height:90px;
    width:700px;
    overflow: hidden;
}
.item {
    float:left;
    margin-left:40px;
    width:60px;
    height:90px;
}
.itemImg {
    width: 60px;
    height: 60px;
}
.itemTextValue {
    top: 20px;
    width: 60px;
    height: 20px;
    margin: 0px;
    font-family:"OCR A Std";
    font-size: 1em;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px black, 4px -4px 4px black, -4px 4px 4px black, -4px -4px 4px black;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.itemTextCost {
    bottom: 10px;
    display: inline;
    width: 60px;
    margin: 0px;
    color: white;
    font-family:"OCR A Std";
    font-size: 1em;
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor:default;
}
.slider_base {
    width:110px;
    height:100%;
    display: block;
}
.slider_base_height {
    width:100%;
    height:30px;
}
.sliderRotate90 {
    overflow: hidden;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sliderRotate90:before {
    content:"";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sliderRotate180 {
    overflow: hidden;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sliderRotate180:before {
    content:"";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sliderRotate270 {
    overflow: hidden;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sliderRotate270:before {
    content:"";
    position: absolute;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sliderRotate90 {
    overflow: hidden;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sliderRotate90:before {
    content:"";
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.SSscroungeBaseButton {
    width: 0px;
    height: 0px;
    padding: 40px;
    background-image:url(/Aufloesung1024xXXX/Interface/ScroungeBaseButton.png);
    background-repeat: no-repeat;
    border-style: none;
}
/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
 .SScharacterButton {
    width: 0px;
    height: 0px;
    padding: 40px;
    background-image:url(/Aufloesung1024xXXX/Interface/charTestButton.png);
    background-repeat: no-repeat;
    border-style: none;
}
/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
 .SSmessageButton {
    width: 0px;
    height: 0px;
    padding: 40px;
    background-image:url(/Aufloesung1024xXXX/Interface/MessageButton.png);
    background-repeat: no-repeat;
    border-style: none;
}
/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
 .SSsocialButton {
    width: 0px;
    height: 0px;
    padding: 40px;
    background-image:url(/Aufloesung1024xXXX/Interface/SocialButton.png);
    background-repeat: no-repeat;
    border-style: none;
}
/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
 .SShoverButton {
    width:0px;
    height:0px;
    padding: 58px 28px 0px 0px;
    background-image:url(/Aufloesung1024xXXX/Interface/HoverButton.png);
    background-position: 0px -102px;
    background-repeat: no-repeat;
}
#left_slider_category {
    background-position: -58px 0px;
}
#right_slider_category {
    background-position: -58px 0px;
}
#up_slider_stolen {
    background-position: 0px 0px;
    left: 38px;
    top: 50px;
}
#down_slider_stolen {
    background-position: 0px 0px;
    left: 50px;
    top: -30px;
}
#up_slider_own {
    background-position: 0px 0px;
    left: 38px;
    top: 50px;
}
#down_slider_own {
    background-position: 0px 0px;
    left: 50px;
    top: -30px;
}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// 1280 ///////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
*/
 @media only screen and (min-width: 1024px) and (max-width: 1919px) {
    .corner {
        width:102px;
        height:102px;
    }
    .slider_inv {
        left:14px;
        width:74px;
        height:36px;
    }
    .left_slider {
        top:14px;
        width:36px;
        height:74px;
    }
    .right_slider {
        top:14px;
        width:36px;
        height:74px;
    }
    .inventory {
        width:102px;
        top:109px;
        bottom:109px;
    }
    .inv_edge {
        width:102px;
        height:25px;
    }
    .inventory_content {
        width:102px;
        top:25px;
        bottom:25px;
    }
    .matter_edge {
        width:25px;
        height:102px;
    }
    #matter_content {
        height:102px;
        left:25px;
        right:25px;
    }
    .kimage {
        width:170px;
        height:102px;
    }
    img.i1 {
        left: -85px;
    }
    img.i2 {
        left: +92px;
    }
    img.i3 {
        left: +269px;
    }
    img.i4 {
        left: +446px;
    }
    img.i5 {
        left: +623px;
    }
    img.i6 {
        left: +800px;
    }
    img.i7 {
        left: +977px;
    }
    #k {
        height:102px;
        margin-left:-531px;
    }
    #links {
        width:102px;
    }
    #rechts {
        width:102px;
    }
    #oben {
        left:109px;
        right:109px;
        height:102px;
    }
    #mitte {
        top:109px;
        bottom:109px;
        left:109px;
        right:109px;
    }
    #unten {
        left:109px;
        right:109px;
        height:102px;
    }
    /*///////////////////////////////////////////////////////////////////////////   HOVER BUTTONS   ///////////////////////////////////////////////////////////////////////////*/
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSscroungeBaseButton {
        width: 0px;
        height: 0px;
        padding: 51px;
        background-position: 0px 0px;
        background-image:url(/Aufloesung1280xXXX/Interface/ScroungeBaseButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SScharacterButton {
        width: 0px;
        height: 0px;
        padding: 51px;
        background-image:url(/Aufloesung1280xXXX/Interface/charTestButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSmessageButton {
        width: 0px;
        height: 0px;
        padding: 51px;
        background-image:url(/Aufloesung1280xXXX/Interface/MessageButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSsocialButton {
        width: 0px;
        height: 0px;
        padding: 51px;
        background-image:url(/Aufloesung1280xXXX/Interface/SocialButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SShoverButton {
        width:0px;
        height:0px;
        padding: 74px 36px 0px 0px;
        background-image:url(/Aufloesung1280xXXX/Interface/HoverButton.png);
        background-repeat: no-repeat;
    }
    #left_slider_category {
        background-position: -74px 0px;
    }
    #right_slider_category {
        background-position: -74px 0px;
    }
    #up_slider_stolen {
        background-position: 0px 0px;
        left: 38px;
        top: 50px;
    }
    #down_slider_stolen {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    #up_slider_own {
        background-position: 0px 0px;
        left: 38px;
        top: 50px;
    }
    #down_slider_own {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// 1920 ///////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
*/
 @media only screen and (min-width: 1920px) {
    .corner {
        width:152px;
        height:152px;
    }
    .slider_inv {
        left:21px;
        /*width:110px; 
        height:54px;*/
    }
    .left_slider {
        top:21px;
        width:54px;
        height:110px;
    }
    .right_slider {
        top:21px;
        width:54px;
        height:110px;
    }
    /*///////////////////////////////////////////////////////////////////////////   INVENTORY   ///////////////////////////////////////////////////////////////////////////*/
    .inventory {
        width:152px;
        top:162px;
        bottom:162px;
    }
    .inv_edge {
        width:152px;
        height:30px;
    }
    .inventory_content {
        width:152px;
        top:25px;
        bottom:25px;
        overflow: hidden;
    }
    .inventory_slots {
        width: 120px;
        height: 120px;
        left: 50%;
        position: relative;
        margin-top: 10px;
        margin-left: -60px;
        background-image: url(/Aufloesung1920x1080/Interface/InventorySlot.png);
        background-repeat: no-repeat;
    }
    .inventory_left_background {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryLeft.png);
        background-repeat: no-repeat;
    }
    .inventory_left_background_top {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryLeftTop.png);
        background-repeat: no-repeat;
    }
    .inventory_left_background_bot {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryLeftBot.png);
        background-repeat: no-repeat;
    }
    .inventory_right_background {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryRight.png);
        background-repeat: no-repeat;
    }
    .inventory_right_background_top {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryRightTop.png);
        background-repeat: no-repeat;
    }
    .inventory_right_background_bot {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryRightBot.png);
        background-repeat: no-repeat;
    }



    /*///////////////////////////////////////////////////////////////////////////   MATTER   ///////////////////////////////////////////////////////////////////////////*/



    .matter_edge {
        width:25px;
        height:152px;
    }
    #matter_content {
        height:152px;
        left:25px;
        right:25px;
    }
    .matter_background {
        /*      height: 152px;*/
        background-image: url(/Aufloesung1920x1080/Interface/InventoryMatter.png);
        background-repeat: no-repeat;
    }
    .matter_background_left {
        height: 152px;
        width: 30px;
        background-image: url(/Aufloesung1920x1080/Interface/InventoryMatterLeft.png);
        background-repeat: no-repeat;
    }
    .matter_background_right {
        height: 152px;
        width: 30px;
        background-image: url(/Aufloesung1920x1080/Interface/InventoryMatterRight.png);
        background-repeat: no-repeat;
    }



/*///////////////////////////////////////////////////////////////////////////   MENU   ///////////////////////////////////////////////////////////////////////////*/




    .kimage {
        width:256px;
        height:152px;
    }
    img.i1 {
        left: -128px;
    }
    img.i2 {
        left: +138px;
    }
    img.i3 {
        left: +404px;
    }
    img.i4 {
        left: +670px;
    }
    img.i5 {
        left: +936px;
    }
    img.i6 {
        left: +1202px;
    }
    img.i7 {
        left: +1468px;
    }
    #k {
        height:152px;
        margin-left:-798px;
    }




    #links {
        width:152px;
    }
    #rechts {
        width:152px;
    }
    #oben {
        left:162px;
        right:162px;
        height:152px;
    }
    #mitte {
        top:162px;
        bottom:162px;
        left:162px;
        right:162px;
    }
    #unten {
        left:162px;
        right:162px;
        height:152px;
    }



/*///////////////////////////////////////////////////////////////////////////   MINESCROUNGE   ///////////////////////////////////////////////////////////////////////////*/



    #scroungeArea {
    	top:37px;
	    width:100%;
	    min-width:600px;
	    overflow:hidden;
    }
    #goScrounging {
    	width: 200px;
    	height: 100px;
    	left: 20px;
    	top: 22px;
    }
    #scroungeAreaWrapper {
    	top: 40px;
    	bottom: 40px;
    	width: 100%;
    	overflow: hidden;
    }
    #scroungeAreaContentLeft {
    	width: 48.8%;
    }
    #scroungeAreaContentRight {
    	width: 48.8%;
    }
    .scroungable {
    	height: 143px;
    }
    .scroungable_advanced {
    	height: 0px;
    	overflow: hidden;
    	background-image: url(/Aufloesung1920x1080/Interface/ActionsFirstScrounger2.png);
    	background-repeat: no-repeat;
    }
    .scroungableText {
    	top:10px;
    	left:250px;
    }
    #seperationBarScrounge {
    	margin-left: auto;
	    margin-right: auto;
	    top:20px;
	    width:20px;
	    height:100%;
	    background-image:url(/Aufloesung1920x1080/Interface/TrennbalkenScrounge.png);
	    background-size:cover;
    }




    /*///////////////////////////////////////////////////////////////////////////   HOVER BUTTONS   ///////////////////////////////////////////////////////////////////////////*/



    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSscroungeBaseButton {
        width: 0px;
        height: 0px;
        padding: 76px;
        background-image:url(/Aufloesung1920x1080/Interface/ScroungeBaseButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SScharacterButton {
        width: 0px;
        height: 0px;
        padding: 76px;
        background-image:url(/Aufloesung1920x1080/Interface/charTestButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSmessageButton {
        width: 0px;
        height: 0px;
        padding: 76px;
        background-image:url(/Aufloesung1920x1080/Interface/MessageButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSsocialButton {
        width: 0px;
        height: 0px;
        padding: 76px;
        background-image:url(/Aufloesung1920x1080/Interface/SocialButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SShoverButton {
        width:0px;
        height:0px;
        padding: 110px 54px 0px 0px;
        background-image:url(/Aufloesung1920x1080/Interface/HoverButton.png);
        background-repeat: no-repeat;
    }
    .inventoryCharacter {
        width: 0px;
        height: 0px;
        padding: 152px 2000px 0px 0px;
        background-image:url(/Aufloesung1920x1080/Interface/Inventory.png);
        background-repeat: repeat-y;
        border-style: none;
    }





    /*///////////////////////////////////////////////////////////////////////////   SLIDER   ///////////////////////////////////////////////////////////////////////////*/
   




    #left_slider_matter {
        background-position: 0px 0px;
    }
    #right_slider_matter {
        background-position: 0px 0px;
    }
    #left_slider_category {
        background-position: -109px 0px;
    }
    #right_slider_category {
        background-position: -109px 0px;
    }
    #up_slider_stolen {
        background-position: 0px 0px;
        left: 50px;
        top: 70px;
    }
    #down_slider_stolen {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    #up_slider_own {
        background-position: 0px 0px;
        left: 50px;
        top: 70px;
    }
    #down_slider_own {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    #base_slider_up {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    #base_slider_down {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    .left_slider_slot_items_background {
        background-position: center;
        background-image:url(/Aufloesung1920x1080/Interface/LeftSliderSlotItemsNormal.png);
        background-repeat: no-repeat;
    }
    .right_slider_slot_items_background {
        background-position: center;
        background-image:url(/Aufloesung1920x1080/Interface/RightSliderSlotItemsNormal.png);
        background-repeat: no-repeat;
    }
}
