body {
	/*background-image:url(Gras2.png);*/
	background-size:cover;
	min-height:500px;
	min-width:500px;
}
#bg {
	min-height:500px;
	min-width:500px;
}
.abc{
	position:absolute;
	top:0px;
	width:778px;
	height:143px;
}
.cba{
	position:absolute;
	top:10px;
	width:40px;
	height:40px;
}
.left{
	left:0px;
}
.right{
	right:0px;
}
.top{
	top:0px;
}
.bot{
	bottom:0px;
}
.center_h{
	margin-left: auto;
    margin-right: auto;
}
div{
	position:absolute;
}
.inherit{
	position:inherit;
}
.relative{
	position:relative;
}
.corner{ 
	width:80px;
	height:80px;
}
.slider_inv{ 	
	width:58px; 
	height:28px;
	left:11px;
}
.left_slider {
	top:11px;	
	width:28px; 
	height:58px;
	float:right;
}
.right_slider {
	top:11px;	
	width:28px; 
	height:58px;
	float:left;
}
.inventory{
	width:80px;
	height:auto;
	top:86px;
	bottom:86px;
}
.inv_edge {
	width:80px;
	height:19px;
}
.inv_top{
	background-image:url(Inventory_Abschluss_Oben.gif);
	background-size:cover;
}
.inventory_content{
	width:80px;
	height:auto;
	top:19px;
	bottom:19px;
	background-image:url(Inventory_Vertikal.png);
	background-size: cover;
	background-repeat:repeat-y;
}
.inv_bot{
	background-image:url(Inventory_Abschluss_Unten.gif);
	background-size:cover;
}
.matter_edge{
	width:19px;
	height:80px;
}
#matter_left{
	position:relative;
	background-image:url(InventoryAbschluss.png);
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	transform:rotate(90deg);
}
#rotate_test{
	position:relative;
	width:152px;
	height:152px;
	background-image:url(InventoryAbschluss.png);
	background-position:left;
	background-repeat:no-repeat;
	transform:scaleX(-2);
	-ms-transform:scaleX(-2); /* IE 9 */
	-webkit-transform:scaleX(-2); /* Opera, Chrome, and Safari */
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}
#matter_content{
	width:auto;
	height:80px;
	left:19px;
	right:19px;
	background-image:url(Inventory_Horizontal.png);
	background-size:cover;
	background-repeat:repeat-x;
}
#matter_right{
	background-image:url(Inventory_Abschluss_Rechts.gif);
	background-size:cover;
}
.kimage {
	position:absolute;
	width:136px;
	height:80px;
}
img.i1 {
	left: -68px;
}
img.i2 {
	left: +74px;
}
img.i3 {
	left: +216px;
}
img.i4 {
	left: +358px;
}
img.i5 {
	left: +500px;
}
img.i6 {
	left: +642px;
}
img.i7 {
	left: +784px;
}
#k {
	left:50%;
	height:80px;
	margin-left:-426px;
}
#links {
	float:left;
	height:100%;
	width:80px;	
}
#rechts {
	float:right;
	height:100%;
	width:80px;
}
#oben {
	left:86px;
	right:86px;
	height:80px;
	width:auto;
	overflow:hidden;
}
#mitte {
	overflow:hidden;
	top:86px;
	bottom:86px;
	left:86px;
	right:86px;
	height:auto;
	width:auto;
	min-height:200px;
	min-width:200px;
}
#unten {
	left:86px;
	right:86px;
	height:80px;
	width:auto;	
}
#improvements {
	background-color:grey;
	width:auto;
	height:31px;
}
.areas {
	top:37px;
	width:48.8%;
	min-width:300px;
	overflow:hidden;
}
#seperation_bar {
	margin-left: auto;
	margin-right: auto;
	top:37px;
	width:20px;
	height:100%;
	background-image:url(Trennbalken.png);
	background-size:cover;
}
#base_area {
	overflow:hidden;
	width:100%;
	top:40px;
	bottom:40px;
}
#scrounge_area {
	overflow:auto;
	top:114px;
	height:auto;
}
.slot{
	z-index:2;
	height:143px;
	background-image:url(/Aufloesung1920x1080/Interface/AktionsKastenGreenSlot.png);
}
.slot_a{
	z-index:1;
	height:0px;
	overflow:hidden;
	background-image:url(/Aufloesung1920x1080/Interface/AktionsKastenYellowSlot.png);
}
.text{
	margin-top:0px;
	margin-bottom:30px;
	left:200px;
	top: 15px;
	font-family:"OCR A Std";
	text-shadow: 0.5px 0.5px #FFFFFF;
}
.slider_base{
	width:61px;
	height:100%;
	display: block;
}
.slider_base_height{
	width:100%;
	height:30px;
}

@media only screen and (min-width: 1024px) {
	.corner{ 
		width:102px;
		height:102px;
	}
	.slider_inv{ 	
		left:14px;
		width:74px; 
		height:36px;
	}
	.left_slider {
		top:14px;	
		width:36px; 
		height:74px;
	}
	.right_slider {
		top:14px;	
		width:36px; 
		height:74px;
	}
	.inventory{
		width:102px;
		top:109px;
		bottom:109px;
	}
	.inv_edge {
		width:102px;
		height:25px;
	}
	.inventory_content{
		width:102px;
		top:25px;
		bottom:25px;
	}
	.matter_edge{
		width:25px;
		height:102px;
	}
	#matter_content{
		height:102px;
		left:25px;
		right:25px;
	}
	.kimage {
		width:170px;
		height:102px;
	}
	img.i1 {
		left: -85px;
	}
	img.i2 {
		left: +92px;
	}
	img.i3 {
		left: +269px;
	}
	img.i4 {
		left: +446px;
	}
	img.i5 {
		left: +623px;
	}
	img.i6 {
		left: +800px;
	}
	img.i7 {
		left: +977px;
	}
	#k {
		height:102px;
		margin-left:-531px;
	}
	#links {
		width:102px;	
	}
	#rechts {
		width:102px;
	}
	#oben {
		left:109px;
		right:109px;
		height:102px;
	}
	#mitte {
		top:109px;
		bottom:109px;
		left:109px;
		right:109px;
	}
	#unten {
		left:109px;
		right:109px;
		height:102px;
	}
}

@media only screen and (min-width: 1280px) {
	.corner{ 
		width:152px;
		height:152px;
	}
	.slider_inv{ 
		left:21px;
/*		width:110px; 
		height:54px;*/
	}
	.left_slider {
		top:21px;	
		width:54px; 
		height:110px;
	}
	.right_slider {
		top:21px;	
		width:54px; 
		height:110px;
	}
	.inventory{
		width:152px;
		top:162px;
		bottom:162px;
	}
	.inv_edge{
		width:152px;
		height:25px;
	}
	.inventory_content{
		width:152px;
		top:25px;
		bottom:25px;
	}
	.matter_edge{
		width:25px;
		height:152px;
	}
	#matter_content{
		height:152px;
		left:25px;
		right:25px;
	}
	.kimage {
		width:256px;
		height:152px;
	}
	img.i1 {
		left: -128px;
	}
	img.i2 {
		left: +138px;
	}
	img.i3 {
		left: +404px;
	}
	img.i4 {
		left: +670px;
	}
	img.i5 {
		left: +936px;
	}
	img.i6 {
		left: +1202px;
	}
	img.i7 {
		left: +1468px;
	}
	#k {
		height:152px;
		margin-left:-798px;
	}
	#links {
		width:152px;	
	}
	#rechts {
		width:152px;
	}
	#oben {
		left:162px;
		right:162px;
		height:152px;
	}
	#mitte {
		top:162px;
		bottom:162px;
		left:162px;
		right:162px;
	}
	#unten {
		left:162px;
		right:162px;
		height:152px;
	}

	/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
	.SSscroungeBaseButton {
		width: 0px;
		height: 0px;
		padding: 76px;
		background-image:url(/Aufloesung1920x1080/Interface/ScroungeBaseButton.png);
		background-repeat: no-repeat;
		border-style: none;
	}

	/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
	.SShoverButton {
		width:0px;
		height:0px;
		padding: 110px 54px 0px 0px;
		background-image:url(/Aufloesung1920x1080/Interface/HoverButton.png);
		background-repeat: no-repeat;
	}

	#left_slider_matter {
		background-position: 0px 0px;
	}

	#left_slider_category {
		background-position: -109px 0px;
	}

	#right_slider_category {
		background-position: -109px 0px;
	}

	#up_slider_stolen {
		background-position: 0px 0px;
		left: 50px;
		top: 70px;
	}

	#down_slider_stolen {
		background-position: 0px 0px;
		left: 50px;
		top: -30px;
	}

	#up_slider_own {
		background-position: 0px 0px;
		left: 50px;
		top: 70px;
	}

	#down_slider_own {
		background-position: 0px 0px;
		left: 50px;
		top: -30px;
	}

	.sliderRotate90 {
		overflow: hidden;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.sliderRotate90:before {
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		z-index: -1;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.sliderRotate180 {
		overflow: hidden;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.sliderRotate180:before {
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		z-index: -1;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.sliderRotate270 {
		overflow: hidden;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
	}

	.sliderRotate270:before {
		content: "";
		position: absolute;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
	}

	.sliderRotate90 {
		overflow: hidden;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.sliderRotate90:before {
		content: "";
		position: absolute;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}