* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}
html {
    overflow: hidden;
}
body {
    margin-top:0px;
    margin-left:0px;
    background-image:url(/Aufloesung1920x1080/Interface/BackgroundGame2.png);
    background-repeat: repeat;
}
#background_fade {
    background-color: black;
    z-index: 3;
    display:none;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}
#bg {
    min-height:500px;
    min-width:500px;
}
.left {
    left:0px;
}
.right {
    right:0px;
}
.top {
    top:0px;
}
.bot {
    bottom:0px;
}
.center_h {
    margin-left: auto;
    margin-right: auto;
}
.div_center_vertical {
    display:flex;
    align-items:center;
    height:100%;
}
div {
    position:absolute;
}
.inherit {
    position:inherit;
}
.relative {
    position:relative;
}
.corner {
    width:80px;
    height:80px;
}
.slider_inv {
    width:58px;
    height:28px;
    left:11px;
}
.left_slider {
    top:11px;
    width:28px;
    height:58px;
    float:right;
}
.right_slider {
    top:11px;
    width:28px;
    height:58px;
    float:left;
}
.inventory {
    width:80px;
    height:auto;
    top:86px;
    bottom:86px;
}
.inv_edge {
    width:80px;
    height:19px;
}
.inv_top {
    /*    background-image:url(Inventory_Abschluss_Oben.gif);
    background-size:cover;*/
}
.inventory_wrapper {
    width:80px;
    top:19px;
    bottom:19px;
    /*    background-image:url(Inventory_Vertikal.png);
    background-size: cover;
    background-repeat:repeat-y;*/
}
.inventory_content {
    width:120px;
    left:50%;
    margin-left: -60px;
}
.inv_bot {
    /*    background-image:url(Inventory_Abschluss_Unten.gif);
    background-size:cover;*/
}
.matter_edge {
    width:19px;
    height:80px;
}
#matter_left {
    /*    position:relative;
    background-image:url(InventoryAbschluss.png);
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    transform:rotate(90deg);*/
}
#matter_wrapper {
    height:80px;
    left:19px;
    right:19px;
    overflow:hidden;
    /*    background-image:url(Inventory_Horizontal.png);*/
    /*    background-size:cover;
    background-repeat:repeat-x;*/
}
#matter_content {
    height: 80px;
    display: inline-flex;
}
#matter_right {
    /*    background-image:url(Inventory_Abschluss_Rechts.gif);
    background-size:cover;*/
}
.categories_icon_size {
    height:80px;
    width:136px;
    margin-left:5px;
    margin-right:5px;
}
#categories_wrapper {
    left:50%;
    margin-left:-657px;
    position: relative;
    height: 80px;
    display: inline-flex;
}
#MenuFrame {
    z-index:2;
    left:50%;
    margin-left:-138px;
    height:152px;
    width:276px;
    background-image: url(/Aufloesung1920x1080/Interface/MenuFrame8.png);
}
#links {
    float:left;
    height:100%;
    width:80px;
}
#rechts {
    float:right;
    height:100%;
    width:80px;
}
#oben {
    left:86px;
    right:86px;
    height:80px;
    width:auto;
    overflow:hidden;
}
#mitte {
    overflow:hidden;
    top:86px;
    bottom:86px;
    left:86px;
    right:8
    min-width: 1000px;
}
#unten {
    left:86px;
    right:86px;
    height:80px;
    width:auto;
}
#improvements {
    left: 10px;
    right: 10px;
    height: 31px;
    background-image:url(/Aufloesung1920x1080/Interface/ImprovementBarBackground4.png);
    background-repeat:repeat-x;
}
#improvementsLeftEdge {
    left: 0px;
    width: 10px;
    height: 31px;
    background-image:url(/Aufloesung1920x1080/Interface/ImprovementBarLeftEdge.png);
    background-repeat: no-repeat;
}
#improvementsRightEdge {
    right: 0px;
    width: 10px;
    height: 31px;
    background-image:url(/Aufloesung1920x1080/Interface/ImprovementBarRightEdge2.png);
    background-repeat: no-repeat;
}
#improvementsWrapper {
    width:auto;
    height:31px;
}
#improvementsText {
    top: 3px;
    right: 10px;
    color: white;
	font-family: 'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1.1em;
    vertical-align: middle;
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.improvementsText {
    top: 3px;
    left: 60px;
    color: white;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1.1em;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.area_left {
    top:37px;
    right:50%;
    left:0px;
    margin-right:20px;
    min-width:300px;
    overflow:hidden;
}
.area_right {
    top:37px;
    left:50%;
    right:0px;
    margin-left:20px;
    min-width:300px;
    overflow:hidden;
}
#seperation_bar {
    margin-left: auto;
    margin-right: auto;
    top:37px;
    width:20px;
    height:100%;
    background-image:url(/Aufloesung1920x1080/Interface/Trennbalken.png);
    background-size:cover;
}
#base_area {
    overflow:hidden;
    width:100%;
    top:40px;
    bottom:40px;
}
#scrounge_area {
    overflow:hidden;
    width:100%;
    top:40px;
    bottom:40px;
}
#nothingToScrounge {
	position: absolute; 
	width: 800px; 
	height: 500px; 
	left: 50%; 
	margin-left: -400px; 
	top: 50%;
	margin-top: -250px;
}
.slot {
    z-index:2;
    height:143px;
    background-image:url(/Aufloesung1920x1080/Interface/AktionsKastenGreenSlot.png);
}
.slot_a {
    z-index:1;
    height:0px;
    overflow:hidden;
    background-image:url(/Aufloesung1920x1080/Interface/AktionsKastenYellowSlot.png);
}
/*///////////////////////////////////////////////////////////////////////////   LOGIN + REGISTER   ///////////////////////////////////////////////////////////////////////////*/
 #loginWrapper {
    width: 100%;
    height: 100%;
}
#login-form_wrapper {
    top: 20px;
    left: 50px;
    width: 250px;
    height: 50px;
    position: relative;
}
.textLogin {
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1.5em;
    color: black;
}
#login-name {
    top: 40px;
    height: 20px;
    position: absolute;
}
#login-password {
    top: 70px;
    height: 20px;
    position: absolute;
}
#login-button {
    top: 40px;
    left: 180px;
    width: 120px;
    height: 55px;
    position: absolute;
}
.error {
    top: 100px;
    width: 500px;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1em;
}
#register-form_wrapper {
    top: 160px;
    left: 50px;
    width: 250px;
    height: 50px;
    position: absolute;
}
#account-name {
    top: 40px;
    height: 20px;
    position: absolute;
}
#account-password {
    top: 70px;
    height: 20px;
    position: absolute;
}
#create-account {
    top: 40px;
    left: 180px;
    width: 120px;
    height: 55px;
    position: absolute;
}
/*///////////////////////////////////////////////////////////////////////////   MINE BUY MENU   ///////////////////////////////////////////////////////////////////////////*/
 #buyMenuWrapper {
    position: absolute;
    top: 162px;
    bottom: 162px;
    width: 778px;
    left: 50%;
    margin-left: -389px;
    display: none;
 }

 #buyMenu {
 	position: relative;
    width: 778px;
    z-index: 5;
}
#buyMenuTopEnd {
	position: relative;
    top: 0px;
    width: 778px;
    height: 140px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/BuyMenuBackgroundTopEnd.png);
    background-repeat: no-repeat;
}
#buyMenuFrame {
	position: relative;
    display: block;
    width: 778px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/BuyMenuBackgroundMid.png);
    background-repeat: repeat-y;
}
#buyMenuBottomEnd {
	position: relative;
    bottom: 0px;
    width: 778px;
    height: 15px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/BuyMenuBackgroundBottomEnd.png);
    background-repeat: no-repeat;
}
#buyMenuYes {
	position: relative;
	float: left;
    width: 100px;
    height: 40px;
    bottom: 10px;
    left: 50%;
    margin-left: -200px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/YESButton.png);
    background-repeat: no-repeat;
}
#buyMenuNo {
	position: relative;
    width: 100px;
    height: 40px;
    bottom: 10px;
    left: 50%;
    margin-left: 100px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/NOButton.png);
    background-repeat: no-repeat;
}
#buyMenuText {
	position: relative;
    left:160px;
    top: -150px;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1.5em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#buyMenuItem {
    width: 85px;
    height: 85px;
    left: 33px;
    top: 29px;
    position: relative;
}
#rangeSlider {
    top: 20px;
    left: 144px;
    width: 622px;
    height: 27px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/RangeSlider.png);
}
.rangeSliderMarks {
    display: block;
    position: relative;
    float: left;
    height: 100%;
    width: 5%;
}
#noButton {
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/RangeSlider.png);
}
#yesButton {
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/RangeSlider.png);
}
#screenDarkener {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
    opacity: 0.8;
    z-index: 4;
    overflow: hidden;
    display: none;
    background-image: url(/Aufloesung1920x1080/Interface/BackgroundGame2.png);
    background-repeat: repeat;
}
.rangeSliderMarksStroke {
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 3px;
    height: 18px;
    margin: auto;
    background-color: black;
}
#AmountScroungerSlots {
	position: relative;
    width: 92px;
    height: 134px;
    left: 28px;
    top: 10px;
}
.sslots_available {
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
    margin: 2px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/ScroungeSlotAvailable.png);
}
.sslots_unavailable {
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
    margin: 2px;
    background-image:url(/Aufloesung1920x1080/Mine/BuyMenu/ScroungeSlotUnavailable.png);
}
/*///////////////////////////////////////////////////////////////////////////   Range Slider   ///////////////////////////////////////////////////////////////////////////*/
 .range_slider {
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: auto;
    position: absolute;
    height: 25px;
    right: 0px;
    left: 0px;
    background-color: #8e8d8d;
    background: url(/Aufloesung1920x1080/Interface/RangeSlider/bg-track.png) repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px rgba(250, 250, 250, .5);
}
.tooltip {
    position: absolute;
    z-index:2;
    display: block;
    margin-left:-27px;
    top: 27px;
    width: 54px;
    height: 27px;
    color: #fff;
    text-align: center;
    font: 13pt Tahoma, Arial, sans-serif;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -moz-linear-gradient(top, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(69, 72, 77)), color-stop(100%, rgb(0, 0, 0)));
    background: -webkit-linear-gradient(top, rgb(69, 72, 77) 0%, rgba(0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%);
    background: linear-gradient(top, rgb(69, 72, 77) 0%, rgb(0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8045484d', endColorstr='#80000000', GradientType=0);
}
.ui-slider-handle {
    position: absolute;
    display:none;
    z-index: 2;
    top:-7px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(/Aufloesung1920x1080/Interface/RangeSlider/handle.png) no-repeat 50% 50%/100% 100%;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    margin-left: -20px;
}
.ui-slider-range {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    background: linear-gradient(top, #ffffff 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}
/*///////////////////////////////////////////////////////////////////////////   MATTER COLOR BLOCKS   ///////////////////////////////////////////////////////////////////////////*/
 .matter_colorBlocks {
    float: left;
    position: relative;
    top: 50%;
    margin-top: -72px;
    width: 250px;
    height: 142px;
    margin-right: 10px;
}
.text_matter {
    display: inline;
    width: 200px;
    left: 60px;
    top: 16px;
    margin: 0px;
    color: white;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1.5em;
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.text_specialResources {
    display: inline;
    width: 100px;
    left: 30px;
    top: 12px;
    margin: 0px;
    color: white;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 0.9em;
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.img_matter {
    position: relative;
    display: inline;
    left: 10px;
    top: 5px;
    width: 50px;
    height: 50px;
}
.img_specialResources {
    position: relative;
    display: inline;
    left: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
}
.wrapper_specialResource {
    bottom: 0px;
    width: 250px;
    height: 92px;
}
.sr_left {
    bottom: 0px;
    left: 5px;
    width: 120px;
    height: 92px;
}
.sr_right {
    bottom: 0px;
    right: 0px;
    width: 120px;
    height: 92px;
}
.sr_slot {
    float: left;
    position: relative;
    width: 120px;
    height: 30px;
}
/*///////////////////////////////////////////////////////////////////////////      WORLD MAP     ///////////////////////////////////////////////////////////////////////////*/
 .worldMapNavigators {
}
#worldMapGoUp {
    width: 61px;
    height: 30px;
    right: 30px;
    bottom: 90px;
    background-image: url(/Aufloesung1920x1080/Interface/NavWorldUp1.png);
    background-repeat: no-repeat;
}
#worldMapGoDown {
    width: 61px;
    height: 30px;
    right: 30px;
    bottom: 0px;
    background-image: url(/Aufloesung1920x1080/Interface/NavWorldDown1.png);
    background-repeat: no-repeat;
}
#worldMapGoRight {
    width: 30px;
    height: 61px;
    right: 0px;
    bottom: 30px;
    background-image: url(/Aufloesung1920x1080/Interface/NavWorldRight1.png);
    background-repeat: no-repeat;
}
#worldMapGoLeft {
    width: 30px;
    height: 61px;
    right: 90px;
    bottom: 30px;
    background-image: url(/Aufloesung1920x1080/Interface/NavWorldLeft1.png);
    background-repeat: no-repeat;
}
#currentMapView {
    width: 2400px;
    height: 1500px;
    position: absolute;
    z-index: -1;
    right: 50%;
    top: 50%;
    margin-right: -1200px;
    margin-top: -750px;
}
#worldViewPort {
    top: 160px;
    bottom: 160px;
    right: 160px;
    left: 160px;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    /*    background-image: url(/Aufloesung1920x1080/Interface/MapBackground.png);
    background-repeat: repeat;*/
}
.worldMapPlayerPlace {
    width: 300px;
    height: 250px;
    position: absolute;
    z-index: -1;
}
.worldMapSlotsPreview {
    width: 100px;
    height: 100px;
    position: absolute;
}
.worldMapSlotsPreviewText {
    display: inline;
    width: 100px;
    bottom: 5px;
    margin: 0px;
    color: black;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1.1em;
    text-align: center;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
#worldMapSlotsPreview {
    background-color: grey;
    opacity: 0.2;
    width: 300px;
    height: 250px;
    position: absolute;
    z-index: -1;
}
.worldMapPlayerStats {
    top: 55px;
    bottom: 55px;
    right: 60px;
    left: 60px;
}
.worldMapPlayerImage {
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    background-repeat: no-repeat;
}
.worldMapPlayerLevel {
    display: inline;
    top: 18px;
    width: 100%;
    height: 20px;
    color: beige;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 2em;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px white;
}
.worldMapPlayerName {
    display: inline;
    height: 20px;
    bottom: 0px;
    width: 100%;
    color: black;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1.1em;
    text-align: center;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
/*///////////////////////////////////////////////////////////////////////////   CHARACTER VIEW   ///////////////////////////////////////////////////////////////////////////*/
 #scroungeItems {
    overflow:hidden;
    left: 0px;
    right: 50%;
    height: 100%;
}
#scroungeItemsWrapper {
    width:400px;
    height:500px;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-250px;
}
#baseItemsWrapper {
    width:500px;
    height:400px;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-200px;
}
.itemSlotBackground {
    width: 120px;
    height: 120px;
    background-image: url(/Aufloesung1920x1080/Interface/inventory_slot.png);
}
#scrounge_item_slot_1 {
    left:140px;
    top:0px;
}
#scrounge_item_slot_2 {
    left:280px;
    top:125px;
}
#scrounge_item_slot_3 {
    left:280px;
    top:255px;
}
#scrounge_item_slot_4 {
    left:140px;
    top:380px;
}
#scrounge_item_slot_5 {
    left:0px;
    top:255px;
}
#scrounge_item_slot_6 {
    left:0px;
    top:125px;
}
#base_item_slot_1 {
    top:140px;
    left:0px;
}
#base_item_slot_2 {
    top:280px;
    left:125px;
}
#base_item_slot_3 {
    top:280px;
    left:255px;
}
#base_item_slot_4 {
    top:140px;
    left:380px;
}
#base_item_slot_5 {
    top:0px;
    left:255px;
}
#base_item_slot_6 {
    top:0px;
    left:125px;
}
#characterViewRightSide {
    right: 0px;
    left: 50%;
    height: 100%;
}
#playerStats {
    top: 0px;
    width: 100%;
    height: 200px;
}
#category_badges {
    height: 80px;
}
.category_badge_icon {
    height: 80px;
    width: 80px;
    float: left;
    display: inline-flex;
    position: relative;
}
#baseItems {
    overflow:hidden;
    width: 100%;
    top: 200px;
    bottom: 0px;
}
/*///////////////////////////////////////////////////////////////////////////   Text Infos   ///////////////////////////////////////////////////////////////////////////*/
 #infoLog {
    height: 140px;
    left: 550px;
    right: 0px;
    top: 50%;
    margin-top: -70px;
    overflow: hidden;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1.3em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.logs {
    position: relative;
}
#textAnimationWrapper {
	width: 100%;
}
#textAnimation {
    width: 1300px;
    left: 50%;
    margin-left: -650px;
    text-align: center;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 4em;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: textAnimation;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    /*    animation-delay: 2s; */
    -webkit-animation-play-state: running;
    -webkit-animation-animation-timing-function: ease-in-out;
}
@-webkit-keyframes textAnimation {
    0% {
        padding-right: 440px;
        transform: scale(1);
        opacity: 0.1;
    }
    50% {
        padding-right: 0px;
        transform: scale(2);
        opacity: 1;
    }
    100% {
        padding-left: 440px;
        transform: scale(1);
        opacity: 0.1;
    }
}
/*////////////////////////////////////////////////////////////////////////////   SLOTS SCROUNGE   ///////////////////////////////////////////////////////////////////////////*/
 .slotBackgroundScrounge {
    background-image: url(/Aufloesung1920x1080/Interface/ActionsRedSlotRepeat.png);
    background-repeat: repeat-x;
}
.slot_edge_left_Scrounge {
    width: 139px;
    height: 143px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsRedSlotEdgeLeft.png);
    background-repeat: no-repeat;
}
.slot_edge_right_Scrounge {
    width: 25px;
    height: 143px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsRedSlotEdgeRight.png);
    background-repeat: no-repeat;
}
.slotBackgroundScroungeAdvanced {
    background-image: url(/Aufloesung1920x1080/Interface/ActionsAdvancedScroungeStatsRepeat.png);
    background-repeat: repeat-x;
}
.slot_edge_left_ScroungeAdvanced {
    width: 25px;
    height: 100px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsAdvancedScroungeStatsEdgeLeft.png);
    background-repeat: no-repeat;
}
.slot_edge_right_ScroungeAdvanced {
    width: 25px;
    height: 100px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsAdvancedScroungeStatsEdgeRight.png);
    background-repeat: no-repeat;
}
.slotBackgroundScroungeSupporter {
    background-image: url(/Aufloesung1920x1080/Interface/ActionsScroungeSupporterStatsRepeat.png);
    background-repeat: repeat-x;
}
.slot_edge_left_ScroungeSupporter {
    width: 139px;
    height: 125px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsScroungeSupporterStatsEdgeLeft.png);
    background-repeat: no-repeat;
}
.slot_edge_right_ScroungeSupporter {
    width: 25px;
    height: 125px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsScroungeSupporterStatsEdgeRight.png);
    background-repeat: no-repeat;
}
.scroungable_slot {
    height:143px;
    left: 139px;
    right: 25px;
}
.scroungable_slot_advanced {
    height:100px;
    left: 25px;
    right: 25px;
}
.scroungable_slot_supporter {
    height:125px;
    left: 139px;
    right: 25px;
}
/*///////////////////////////////////////////////////////////////////////////   SLOTS BASE LEFT   ///////////////////////////////////////////////////////////////////////////*/
 .unused_slot {
    height:143px;
    left: 139px;
    position: absolute;
    right: 25px;
}
.slotWrapper {
    height: 143px;
    position: relative;
}
.used_slot_Wrapper {
    overflow:hidden;
    height:143px;
    z-index: 3;
}
.slot_edge_left_BaseLeft {
    width: 139px;
    height: 143px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsGreenSlotEdgeLeft.png);
    background-repeat: no-repeat;
}
.slot_edge_right_BaseLeft {
    width: 25px;
    height: 143px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsGreenSlotEdgeRight.png);
    background-repeat: no-repeat;
}
.slot_edge_left_BaseLeft_advanced {
    width: 25px;
    height: 100px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsAdvancedStatsEdgeLeft.png);
    background-repeat: no-repeat;
}
.slot_edge_right_BaseLeft_advanced {
    width: 25px;
    height: 100px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsAdvancedStatsEdgeRight.png);
    background-repeat: no-repeat;
}
.slotBackgroundBaseLeftAdvanced {
    background-image: url(/Aufloesung1920x1080/Interface/ActionsAdvancedStatsRepeat.png);
    background-repeat: repeat-x;
}
.slot_edge_left_BaseRight_advanced {
    width: 25px;
    height: 100px;
    background-image: url(/Aufloesung1920x1080/Interface/ScroungerAdvancedStatsEdgeLeft.png);
    background-repeat: no-repeat;
}
.slot_edge_right_BaseRight_advanced {
    width: 25px;
    height: 100px;
    background-image: url(/Aufloesung1920x1080/Interface/ScroungerAdvancedStatsEdgeRight.png);
    background-repeat: no-repeat;
}
.slotBackgroundBaseRightAdvanced {
    background-image: url(/Aufloesung1920x1080/Interface/ScroungeAdvancedStatsRepeat.png);
    background-repeat: repeat-x;
}
.used_slot_advanced_wrapper {
    z-index:1;
    height: 0px;
    width: 100%;
    margin-top: -13px;
    overflow: hidden;
    position: relative;
}
.used_slot {
    z-index:3;
    height:143px;
    left: 139px;
    position: absolute;
    right: 25px;
}
.used_slot_advanced {
    z-index:2;
    height:100px;
    position: relative;
}
.text {
    margin-top:5px;
    margin-bottom:5px;
    color: white;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.slotBackgroundBaseLeft {
    background-image: url(/Aufloesung1920x1080/Interface/ActionsGreenSlotRepeat.png);
    background-repeat: repeat-x;
}
/*///////////////////////////////////////////////////////////////////////////   SLOTS BASE RIGHT   ///////////////////////////////////////////////////////////////////////////*/
 .slotBackgroundBaseRight {
    background-image: url(/Aufloesung1920x1080/Interface/ActionsYellowSlotRepeat.png);
    background-repeat: repeat-x;
}
.slot_edge_left_BaseRight {
    width: 139px;
    height: 143px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsYellowSlotEdgeLeft.png);
    background-repeat: no-repeat;
}
.slot_edge_right_BaseRight {
    width: 25px;
    height: 143px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsYellowSlotEdgeRight.png);
    background-repeat: no-repeat;
}
.slot_edge_left_BaseLeft_supporter {
    width: 139px;
    height: 125px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsScroungeSupporterStatsEdgeLeft.png);
    background-repeat: no-repeat;
}
.slot_edge_right_BaseLeft_supporter {
    width: 25px;
    height: 125px;
    background-image: url(/Aufloesung1920x1080/Interface/ActionsScroungeSupporterStatsEdgeRight.png);
    background-repeat: no-repeat;
}
.slotBackgroundBaseLeftSupporter {
    background-image: url(/Aufloesung1920x1080/Interface/ActionsScroungeSupporterStatsRepeat.png);
    background-repeat: repeat-x;
}
.h1 {
    margin-top: 35px;
    font-size: 1.5em;
}
.headline {
    text-align: center;
}
.slot_icon {
    left:33px;
    top:29px;
    width:85px;
    height:85px;
}
.slot_icon_userName {
    width: 151px;
    height: 45px;
    bottom: 0px;
    z-index: 1;
    background-image: url(/Aufloesung1920x1080/Interface/AktionenKasten_BaseRechts_SlotRahmen_Name.png);
    background-repeat: no-repeat;
}
.slot_icon_userName_text {
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1em;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px black, 4px -4px 4px black, -4px 4px 4px black, -4px -4px 4px black;
}
.scrounger_icon {
    left:39px;
    top:22px;
    width:55px;
    height:55px;
    background-image: url(/Aufloesung1920x1080/Mine/Items/green_pick_scrounger.png);
    background-repeat: no-repeat;
}
.scrounger_icon_userName {
    top: 92px;
    width: 100%;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1em;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px black, 4px -4px 4px black, -4px 4px 4px black, -4px -4px 4px black;
}
.scrounger_stats_wrapper {
    position: absolute;
    left: 139px;
    height: 125px;
    right: 25px;
}
.scrounger_stats {
    left: 10px;
}
.range_slider_wrapper {
    top:30px;
    left:165px;
    right:30px;
    height:27px;
}
.slot_upper_bar {
    top:13px;
    left:10px;
    right:10px;
    height:27px;
}
.slot_stats {
    top:53px;
    left:10px;
    right:5px;
}
.scrounge_slot_stats {
    left:10px;
    right:5px;
    position: relative;
}
.slot_advanced_stats_wrapper {
    height:100px;
    position: absolute;
    left: 25px;
    right: 25px;
}
.slot_advanced_stats {
    margin-top:13px;
    left:124px;
    position: relative;
}
.slot_colors_slider {
    width:21px;
    height:27px;
}
.slot_colors_wrapper {
    overflow:hidden;
    left:21px;
    right:21px;
    width:auto;
    height:27px;
}
.slot_colors_edges {
    width:4px;
    height:27px;
    background-image: url(/Aufloesung1920x1080/Interface/AktionsKastenSortierBalken/AktionsBalkenSortingBarEdge.png);
}
.test_colors_pfeil_left {
    background-image: url(/Aufloesung1920x1080/Interface/AktionsKastenSortierBalken/AktionsKastenSortingBarPfeilNormal.png);
    background-repeat: no-repeat;
}
.test_colors_pfeil_right {
    background-image: url(/Aufloesung1920x1080/Interface/TempImages/TEST_AktionsKastenSortingBarPfeilNormal.png);
    background-repeat: no-repeat;
}
.slot_colors_content {
    left:4px;
    height:27px;
    right: 0px;
    left: 0px;
    background-image: url(/Aufloesung1920x1080/Interface/AktionsKastenSortierBalken/AktionsBalkenSortingBar.png);
    background-repeat: repeat-x;
}
.color {
    float:left;
    width:16px;
    height:16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slot_items {
    top:53px;
    left:10px;
    right:5px;
    width:auto;
    height:90px;
}
.slot_items_slider {
    width:21px;
    height:60px;
}
.slot_items_wrapper {
    overflow:hidden;
    left:26px;
    right:26px;
    width:auto;
    height:90px;
}
.slot_items_content {
    height:90px;
    overflow: hidden;
    display:inline-flex;
}
.item {
    float:left;
    width:150px;
}
.item:first-child {
    margin-left:0px;
}
.itemImg {
    width: 60px;
    height: 60px;
    display: block;
}
.itemTextValue {
    top: 20px;
    width: 60px;
    height: 20px;
    margin: 0px;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1em;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px black, 4px -4px 4px black, -4px 4px 4px black, -4px -4px 4px black;
}
.itemTextCost {
    display: inline;
    margin: 0px 5px;
    color: white;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1em;
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.itemTextCostPre {
    display: inline;
    margin: 0px;
    color: white;
    font-family:'Hammersmith One', 'Arial', 'sans-serif';
    font-size: 1em;
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.itemTextCostAfter {
    width: 20px;
    height: 20px;
    bottom: 3px;
    display: inline;
    margin: 0px;
}
.slider_size {
    width:110px;
    height:100%;
    display: block;
}
.hover_slide_height {
    width:100%;
    height:30px;
}
.sliderRotate90 {
    overflow: hidden;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sliderRotate90:before {
    content:"";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sliderRotate180 {
    overflow: hidden;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sliderRotate180:before {
    content:"";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sliderRotate270 {
    overflow: hidden;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sliderRotate270:before {
    content:"";
    position: absolute;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sliderRotate90 {
    overflow: hidden;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sliderRotate90:before {
    content:"";
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.SSscroungeBaseButton {
    width: 0px;
    height: 0px;
    padding: 40px;
    background-image:url(/Aufloesung1024xXXX/Interface/ScroungeBaseButton.png);
    background-repeat: no-repeat;
    border-style: none;
}
/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
 .SScharacterButton {
    width: 0px;
    height: 0px;
    padding: 40px;
    background-image:url(/Aufloesung1024xXXX/Interface/charTestButton.png);
    background-repeat: no-repeat;
    border-style: none;
}
/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
 .SSmessageButton {
    width: 0px;
    height: 0px;
    padding: 40px;
    background-image:url(/Aufloesung1024xXXX/Interface/MessageButton.png);
    background-repeat: no-repeat;
    border-style: none;
}
/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
 .SSsocialButton {
    width: 0px;
    height: 0px;
    padding: 40px;
    background-image:url(/Aufloesung1024xXXX/Interface/SocialButton.png);
    background-repeat: no-repeat;
    border-style: none;
}
/*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
 .SShoverButton {
    width:0px;
    height:0px;
    padding: 58px 28px 0px 0px;
    background-image:url(/Aufloesung1024xXXX/Interface/HoverButton.png);
    background-position: 0px -102px;
    background-repeat: no-repeat;
}
#category_left {
    background-position: -58px 0px;
}
#category_right {
    background-position: -58px 0px;
}
#stolen_up {
    background-position: 0px 0px;
    left: 38px;
    top: 50px;
}
#stolen_down {
    background-position: 0px 0px;
    left: 50px;
    top: -30px;
}
#own_up {
    background-position: 0px 0px;
    left: 38px;
    top: 50px;
}
#own_down {
    background-position: 0px 0px;
    left: 50px;
    top: -30px;
}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// 1280 ///////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
*/
 @media only screen and (min-width: 1024px) and (max-width: 1919px) {
    .corner {
        width:102px;
        height:102px;
    }
    .slider_inv {
        left:14px;
        width:74px;
        height:36px;
    }
    .left_slider {
        top:14px;
        width:36px;
        height:74px;
    }
    .right_slider {
        top:14px;
        width:36px;
        height:74px;
    }
    .inventory {
        width:102px;
        top:109px;
        bottom:109px;
    }
    .inv_edge {
        width:102px;
        height:25px;
    }
    .inventory_wrapper {
        width:102px;
        top:25px;
        bottom:25px;
    }
    .matter_edge {
        width:25px;
        height:102px;
    }
    #matter_wrapper {
        height:102px;
        left:25px;
        right:25px;
        overflow:hidden;
    }
    #matter_content {
        height: 102px;
        display: inline-flex;
    }
    .categories_icon_size {
        height:102px;
        width:170px;
        margin-left:5px;
        margin-right:5px;
    }
    #categories_wrapper {
        left:50%;
        margin-left:-810px;
        position: relative;
        height: 102px;
        display: inline-flex;
    }
    #links {
        width:102px;
    }
    #rechts {
        width:102px;
    }
    #oben {
        left:109px;
        right:109px;
        height:102px;
    }
    #mitte {
        top:109px;
        bottom:109px;
        left:109px;
        right:109px;
        min-width: 1000px;
    }
    #unten {
        left:109px;
        right:109px;
        height:102px;
    }
    /*///////////////////////////////////////////////////////////////////////////   HOVER BUTTONS   ///////////////////////////////////////////////////////////////////////////*/
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSscroungeBaseButton {
        width: 0px;
        height: 0px;
        padding: 51px;
        background-position: 0px 0px;
        background-image:url(/Aufloesung1280xXXX/Interface/ScroungeBaseButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SScharacterButton {
        width: 0px;
        height: 0px;
        padding: 51px;
        background-image:url(/Aufloesung1280xXXX/Interface/charTestButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSmessageButton {
        width: 0px;
        height: 0px;
        padding: 51px;
        background-image:url(/Aufloesung1280xXXX/Interface/MessageButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSsocialButton {
        width: 0px;
        height: 0px;
        padding: 51px;
        background-image:url(/Aufloesung1280xXXX/Interface/SocialButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SShoverButton {
        width:0px;
        height:0px;
        padding: 74px 36px 0px 0px;
        background-image:url(/Aufloesung1280xXXX/Interface/HoverButton.png);
        background-repeat: no-repeat;
    }
    #category_left {
        background-position: -74px 0px;
    }
    #category_right {
        background-position: -74px 0px;
    }
    #stolen_up {
        background-position: 0px 0px;
        left: 38px;
        top: 50px;
    }
    #stolen_down {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    #own_up {
        background-position: 0px 0px;
        left: 38px;
        top: 50px;
    }
    #own_down {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
}
/*
////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// 1920 ///////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
*/
 @media only screen and (min-width: 1920px) {
    .corner {
        width:152px;
        height:152px;
    }
    .slider_inv {
        left:21px;
        /*width:110px; 
        height:54px;*/
    }
    .left_slider {
        top:21px;
        width:54px;
        height:110px;
    }
    .right_slider {
        top:21px;
        width:54px;
        height:110px;
    }
    /*///////////////////////////////////////////////////////////////////////////   INVENTORY   ///////////////////////////////////////////////////////////////////////////*/
    .inventory {
        width:152px;
        top:162px;
        bottom:162px;
    }
    .inv_edge {
        width:152px;
        height:30px;
    }
    .inventory_wrapper {
        width:152px;
        top:30px;
        bottom:30px;
        overflow: hidden;
    }
    .inventory_slots {
        width: 120px;
        height: 120px;
        float:left;
        position: relative;
        background-image: url(/Aufloesung1920x1080/Interface/inventory_slot.png);
        background-repeat: no-repeat;
    }
    .inventory_items {
        position: relative;
        width:100px;
        height:100px;
        left:10px;
        top:10px;
        border-radius: 3px;
    }
    /*/////////////////////////////////////////////// drag and drop ///////////////////////////////////////////////////*/
    .droppable_slot {
        border: 2px;
        border-style: solid;
        border-color: red;
        padding-left: 1px;
        padding-top: 1px;
    }
    .droppable_slot_hover {
        background-image: url(/Aufloesung1920x1080/Interface/inventory_slot_active.png);
    }
    .proper_droppable_slot {
        background-image: url(/Aufloesung1920x1080/Interface/proper_inventory_slot.png);
    }
    .proper_droppable_slot_hover {
        background-image: url(/Aufloesung1920x1080/Interface/proper_inventory_slot_active.png);
    }
    /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /*/////////////////////////////////////////////// item tooltip ////////////////////////////////////////////////////*/
    #item_tooltip_window {
        position: relative;
        display:none;
        z-index: 6;
        opacity: 0;
        width:100px;
        height:100px;
        border-width: 3px;
        border-style: solid;
        border-color: #333 #333 #777 #333;
        border-radius: 5px;
        margin-top:18px;
        overflow:hidden;
        background-image: url(/Aufloesung1920x1080/Interface/BackgroundWorldMap2.jpg);
        background-repeat: repeat;
        box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px rgba(250, 250, 250, .5);
    }
    #item_tooltip_window_wrapper {
    }
    .item_tooltip_window_name {
        position: relative;
        float: left;
        width:100%;
        height:25px;
        opacity: 0.8;
        background-color:black;
    }
    .item_tooltip_window_wrapper {
        position: relative;
        display: inline-flex;
    }
    .item_tooltip_window_icon {
        left:10px;
        top:10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .item_tooltip_window_content {
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    /*//////////////////////////////////////////////////// INVENTORY  /////////////////////////////////////////////////////////////*/
    .inventory_left_background {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryLeft.png);
        background-repeat: repeat-y;
    }
    .inventory_left_background_top {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryLeftTop.png);
        background-repeat: no-repeat;
    }
    .inventory_left_background_bot {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryLeftBot.png);
        background-repeat: no-repeat;
    }
    .inventory_right_background {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryRight.png);
        background-repeat: repeat-y;
    }
    .inventory_right_background_top {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryRightTop.png);
        background-repeat: no-repeat;
    }
    .inventory_right_background_bot {
        background-image: url(/Aufloesung1920x1080/Interface/InventoryRightBot.png);
        background-repeat: no-repeat;
    }
    /*///////////////////////////////////////////////////////////////////////////   MATTER   ///////////////////////////////////////////////////////////////////////////*/
    .matter_edge {
        width:25px;
        height:152px;
    }
    #matter_wrapper {
        height:152px;
        left:25px;
        right:25px;
        overflow:hidden;
    }
    #matter_content {
        height: 152px;
        display: inline-flex;
    }
    .matter_background {
        /*      height: 152px;*/
        background-image: url(/Aufloesung1920x1080/Interface/InventoryMatter.png);
        background-repeat: repeat-x;
    }
    .matter_background_left {
        height: 152px;
        width: 30px;
        background-image: url(/Aufloesung1920x1080/Interface/InventoryMatterLeft.png);
        background-repeat: no-repeat;
    }
    .matter_background_right {
        height: 152px;
        width: 30px;
        background-image: url(/Aufloesung1920x1080/Interface/InventoryMatterRight.png);
        background-repeat: no-repeat;
    }
    /*///////////////////////////////////////////////////////////////////////////   MENU   ///////////////////////////////////////////////////////////////////////////*/
    .categories_icon_size {
        height:152px;
        width:256px;
        margin-left:5px;
        margin-right:5px;
    }
    #categories_wrapper {
        left:50%;
        height: 152px;
        margin-left:-1197px;
        position: relative;
        display: inline-flex;
    }
    #links {
        width:152px;
    }
    #rechts {
        width:152px;
    }
    #oben {
        left:162px;
        right:162px;
        height:152px;
    }
    #mitte {
        top:162px;
        bottom:162px;
        left:162px;
        right:162px;
        min-width: 1000px;
    }
    #unten {
        left:162px;
        right:162px;
        height:152px;
    }
    /*///////////////////////////////////////////////////////////////////////////   MINESCROUNGE   ///////////////////////////////////////////////////////////////////////////*/
    #scroungeArea {
        top:37px;
        width:100%;
        min-width:600px;
        overflow:hidden;
    }
    .goScroungingIcon {
        z-index: 3;
        width: 200px;
        height: 100px;
        top: 20px;
    }
    #scroungeAreaWrapper {
        top: 40px;
        bottom: 40px;
        width: 100%;
        overflow: hidden;
    }
    .scroungeAreaContentLeft {
        left: 0px;
        right: 50%;
        margin-right: 20px;
    }
    .scroungeAreaContentRight {
        right: 0px;
        left: 50%;
        margin-left: 20px;
    }
    .scrounge_slot {
        z-index: 3;
        height: 143px;
    }
    .scrounge_slot_advanced {
        z-index: 2;
        height: 100px;
    }
    .scrounge_slot_advanced_wrapper {
        z-index:1;
        height: 0px;
        width: 100%;
        margin-top: -13px;
        overflow: hidden;
    }
    .scrounge_slot_supporter {
        z-index: 1;
        height:125px;
        margin-top:-13px;
    }
    .scroungableText {
        position: relative;
        left:220px;
    }
    .scrounge_slot_advanced_text {
        position: relative;
        left:129px;
        margin-top:13px;
    }
    .scrounge_slot_supporter_text {
        position: relative;
        left:10px;
    }
    .scrounge_left {
        right:50%;
        margin-right: 119px
    }
    .scrounge_right {
        left:50%;
        margin-left:25px;
    }
    .scrounge_slot_upper_bar {
        top:13px;
        left:10px;
        height:27px;
    }
    /*    #seperationBarScrounge {
        margin-left: auto;
        margin-right: auto;
        top:0px;
        width:20px;
        height:100%;
        background-image:url(/Aufloesung1920x1080/Interface/TrennbalkenScrounge.png);
        background-size:cover;
    }*/
    /*///////////////////////////////////////////////////////////////////////////   HOVER BUTTONS   ///////////////////////////////////////////////////////////////////////////*/
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSscroungeBaseButton {
        width: 0px;
        height: 0px;
        padding: 76px;
        background-image:url(/Aufloesung1920x1080/Interface/ScroungeBaseButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SScharacterButton {
        width: 0px;
        height: 0px;
        padding: 76px;
        background-image:url(/Aufloesung1920x1080/Interface/charTestButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSmessageButton {
        width: 0px;
        height: 0px;
        padding: 76px;
        background-image:url(/Aufloesung1920x1080/Interface/MessageButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SSsocialButton {
        width: 0px;
        height: 0px;
        padding: 76px;
        background-image:url(/Aufloesung1920x1080/Interface/SocialButton.png);
        background-repeat: no-repeat;
        border-style: none;
    }
    /*Workaround für Chrome, Höhe und Breite auf 0 setzen und die Platzierung via padding regeln, sonst wird ein leichter Rahmen um das Bild herum angezeigt*/
    .SShoverButton {
        width:0px;
        height:0px;
        padding: 110px 54px 0px 0px;
        background-image:url(/Aufloesung1920x1080/Interface/HoverButton.png);
        background-repeat: no-repeat;
    }
    .inventoryCharacter {
        width: 0px;
        height: 0px;
        padding: 152px 2000px 0px 0px;
        background-image:url(/Aufloesung1920x1080/Interface/Inventory.png);
        background-repeat: repeat-y;
        border-style: none;
    }
    /*///////////////////////////////////////////////////////////////////////////   SLIDER   ///////////////////////////////////////////////////////////////////////////*/
    #matter_left {
        background-position: 0px 0px;
    }
    #matter_right {
        background-position: 0px 0px;
    }
    #category_left {
        background-position: -109px 0px;
    }
    #category_right {
        background-position: -109px 0px;
    }
    #stolen_up {
        background-position: 0px 0px;
        left: 50px;
        top: 70px;
    }
    #stolen_down {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    #own_up {
        background-position: 0px 0px;
        left: 50px;
        top: 70px;
    }
    #own_down {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    #base_slider_up {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    #base_slider_down {
        background-position: 0px 0px;
        left: 50px;
        top: -30px;
    }
    .left_slider_slot_items_background {
        background-position: center;
        background-image:url(/Aufloesung1920x1080/Interface/LeftSliderSlotItemsNormalGrey.png);
        background-repeat: no-repeat;
    }
    .right_slider_slot_items_background {
        background-position: center;
        background-image:url(/Aufloesung1920x1080/Interface/RightSliderSlotItemsNormalGrey.png);
        background-repeat: no-repeat;
    }
}
